:root {
    --white:hsl(0, 0%, 100%);
    --azul-clarito:hsl(212, 45%, 89%);
    --azul-medio:hsl(216, 15%, 48%);
    --azul-oscuro:hsl(218, 44%, 22%);
}

body {
    margin: 0;
    background-color: var(--azul-clarito);
    display: grid;
    place-items: center;
    width: 100dvw;
    height: 100dvh;
    text-align: center;
    position:relative;
}
#card{
    background-color: var(--white);
    width: 280px;
    display: grid;
    place-items: center;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 10px 20px 33px -3px rgba(0,0,0,0.1);
}
#card > img{
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1/1;
}
#card > h2 {
    font-family: 'Outfit-bold';
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--azul-oscuro);
    margin-bottom: 0;
}

#card > p {
    font-family: 'Outfit-regular';
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.3px;
    color: var(--azul-medio);
}


#autor{
    visibility: hidden;
    position:absolute;
    bottom: 12%;
}

/*Ajustes para pantallas grandes*/
@media (min-width: 1440px){
    #autor{
        visibility: visible;
        width: 300px ;
        height: 20px;
    }
    #autor > a{
        font-family: 'Outfit-bold';
        text-decoration: none;
        color: var(--azul-oscuro);
    }

    #autor > a:hover{
        font-family: 'Outfit-bold';
        text-decoration: none;
        color: var(--azul-medio);
    }
}

/*Fonts*/
@font-face {
    font-family: 'Outfit-regular';
    src: url('../fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit-bold';
    src: url('../fonts/Outfit-Bold.ttf') format('truetype');
}
